#app {
  margin: 0px auto;
  max-width: 900px;

  h1 {
    color: #18978F;
  }

  p {
    color: #54BAB9
  }
}

#popular {

  ul {
    list-style-type: none;
    white-space: nowrap;
    overflow-x: scroll;
    padding: 0;

    li {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
    }
  }

}

.movie_card {
  width: 200px;

  p {
    white-space: pre-line;
    word-wrap: break-word
  }
}